html.print {
  height: auto;

  body {
    padding-top: 0;
    margin: 0;
    height: auto;
    min-height: inherit;
    background-color: white;
    background-image: none;
  }

  #page {
    padding-top: 0;
    margin: 0 auto;

    &::after {
      background: none;
    }
  }
}
